#chat-box{
    background-color: rgba(0,0,0,0.8);
    padding: 1rem;
    height: 75vh;
    border-radius: 1rem;
    overflow-y: scroll;
    margin-bottom: 2rem;
}

.chat-message-div{
    background-color: lightblue;
    border-radius: 1rem;
}

.chat-message-div p{
    padding-left: 1rem;
}
.chat-input{
    display: flex;
    color: #fff;
}
.chat-input fa-icon{
    background: #9024b4;
    height: 35px;
    padding: 7px;
}
.msg-box {
    margin-bottom: 0.5em;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}