<div class="queDiv">
    <div class="vs-div">
        <div class="vs-div-competitor">Current Winner {{currentWinner?.name}}</div>
        <div class="vs-div-competitor">Current Challenger {{currentChallenger?.name}}</div>
    </div>
    
    <div id="queue-name-display" *ngIf="orderedUsersInQueue">
        <ol>
            <li class="que-user"*ngFor="let user of orderedUsersInQueue" >{{user?.name}}</li>
        </ol>
    </div>

    <div id="queue-btn-div">
        <button mat-raised-button class="join-btn" color="primary" (click)="addUserToQueue()">Join</button>
        <button mat-raised-button color="primary" (click)="removeUserFromQueue()">Leave</button>
    </div>
</div>
