.vs-div{
    background-color: #000;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.vs-div-competitor{
    color: white;
    display: inline-block;
}
.join-btn{
    background: #9024b4;
}
#queue-name-display{
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#queue-btn-div{
    display: flex;
}
#queue-btn-div button{
    width: 100%;
}