<div class="container-fluid">
  <div class="col-xs-4 hamburger-container">
    <svg (click)="displayMenu()" class="hidden-md hidden-lg menu_icon">
      <rect width="45" height="6" y="20"></rect>
      <rect width="45" height="6" y="30"></rect>
      <rect width="45" height="6" y="40"></rect>
    </svg>
  </div>
  <div class="col-xs-4">
    <div class="logo-container">
      <a class="logo_icon" [routerLink]="['']">
        <img
          src="https://api.freelogodesign.org/files/55a5b759240d4408a50260fcc1598702/thumb/logo_200x200.png?v=637612954660000000"
          alt="logo" />
      </a>
    </div>
  </div>
  <div class="col-xs-3 authentication-wrapper">
    <ul>
      <li *ngIf="(auth.isAuthenticated$ | async) === false">
        <button class="kwik-btn" (click)="loginWithRedirect()">
          Log in
        </button>
      </li>
      <li *ngIf="(auth.isAuthenticated$ | async) === false">
        <button class="kwik-btn" (click)="signinWithRedirect()">
          Sign Up
        </button>
      </li>
      <li *ngIf="auth.isAuthenticated$ | async">
        <button class="kwik-btn" (click)="logout()">
          Log out
        </button>
      </li>
    </ul>
  </div>
  <div class="hidden-xs hidden-sm row">
    <section class="col-md-12">
      <button class="nav-tab nav-text" [routerLink]="[menu.route]"
        *ngFor="let menu of navigationMenu; index as i;">{{menu.name}}</button>
    </section>
  </div>
</div>
<aside class="pop-menu_container" [ngClass]="{'pop-menu_container-active': isCollapsed}" (click)="displayMenu()">
  <nav class="pop-menu" [ngClass]="{'pop-menu-active': isCollapsed}" (click)="$event.stopImmediatePropagation();">
    <div *ngIf="auth.user$ | async as user">
      <section class="menu-header">
        <span class="greeting_text">Welcome Back</span>
        <div class="profile-image_container">
          <img [src]="user.picture" alt="profile-image" class="profile_image">
        </div>
        <div class="account-details">
          <span class="profile_link"> Account</span>
          <span class="name_text">{{user.nickname}}</span>
          <span class="email_text">{{user.email}}</span>
        </div>
      </section>
    </div>
    <section class="menu-body">
      <ul class=" menu-list">
        <li class="nav-item" *ngFor="let menu of navigationMenu;  index as i;">
          <button class="nav-btn nav-text" [routerLink]="[menu.route]">{{menu.name}}</button>
        </li>
      </ul>
    </section>
  </nav>
</aside>