.toggle-btn {
    background-color: var(--neutral_purple);
    box-shadow: 0 0 0 0.25rem;
    color: rgba(0,0,0,.55);
    border-color: rgba(0,0,0,.1);
}

/*
//Icons
*/

.logo-container{
    text-align: center;
}
.hamburger-container{
    text-align: center;
}
.hamburger-container svg{
    width: 13%;
}
.hamburger-container svg{
    margin-top: 40px;
}
.authentication-wrapper{
    text-align: -webkit-center;
}
.authentication-wrapper ul{
    margin-top: 50px;
    text-align: center;
    width: 60%;
}
.authentication-wrapper li{
    list-style-type: none;
    float: left;
}

.menu_icon:hover{
    cursor: pointer;
}

/*
//Pop-Out Menu Container
*/
.pop-menu_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 25;
    
    
}

.pop-menu {
    box-sizing: border-box;
    transform: translateX(-103%);
    position: relative;
    top: 0;
    left: -70px;
    z-index: 10;
    height: 100%;
    width: 100%;
    max-width: 26rem;
    background: linear-gradient(to bottom, #f360a2, #2E1D65);
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 4fr 1fr;
    grid-gap: 1rem;
    transition: transform 300ms linear;
    will-change: transform;
}

.pop-menu-active {
    left: 0px;
    max-width: 32rem;
    transform: none;
}

.pop-menu_container-active {
    pointer-events: auto;
}

.pop-menu_container::before {
    content: '';
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 300ms linear;
    will-change: opacity;
}

.pop-menu_container-active::before {
    opacity: 0.3;
}

/* 
//
// Pop Out Menu Header
//
*/
.menu-header {
    background: linear-gradient(to right, #00f7ff, #a318ff);
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "greeting greeting" "image details";
    box-sizing: border-box;
    width: 100%;
    align-content: center;
    color: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
}

.account-details {
    grid-area: details;
    display: flex;
    flex-flow: column;
    margin-left: 1rem;
    align-self: center;
}

.greeting_text {
    grid-area: greeting;
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin-top: 1rem;
    justify-self: center;
    align-self: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    
}
.name_text {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.email_text {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.profile-image_container {
    grid-area: image;
    margin-right: 0.5rem;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    align-self: center;
    margin-left: 2rem;
}

.profile_image {
    max-width: 6rem;
}


/*
//
//Pop Out Menu Body
//
*/

.menu-body { 
    display: grid;
    width: 100%;
}

.nav-item a {
    padding: .5em;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    background-color: black;
    border-radius: 20px;
}

.nav-item{
    text-align: right;
    list-style-type: none; 
    padding-left: 0px;
}

.nav-item{
    padding: 1em;
    margin-right: 1rem;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: black;
    cursor: pointer;
}

.nav-btn{   
    margin: .2em;
    border: transparent;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 40px;
    font-family: 'Press Start 2P', cursive;
    transition-duration: 0.4s;
    
}

.nav-btn:hover{ 
    color: #bc5efb ;
}
