<div class=home_page>
    <h1>Welcome<br class="title-break" /> to<br class="title-break" /> Kwik&nbsp;Koder</h1>
    <h2>Test your typing skills and track your progress</h2>
    <div class="home-flex-container">
        <div class="testnow-section">
            <button class="main_test_button kwik-btn" [routerLink]="['test']">Test Now</button>
        </div>
        <div class="leaderboard-section">
            <app-landing-leaderboard></app-landing-leaderboard>
        </div>
        <div class="video-section">
            <video id="demo-vid">
                <source src="assets/videos/Type-Test-Demo.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>
    