<div *ngIf="testmat.author" class="col-xs-2">
    <div class="info-box span-align">
        <span class="info-text">Author</span>
        <span class="info-value-author" id="author">{{testmat.author}}</span>
    </div>
</div>
<div class="col-xs-2">
    <div class="info-box span-align">
        <span class="info-text">Errors</span>
        <span class="info-value" id="errors">{{state.errors }}</span>
    </div>
</div>
<div class="col-xs-2">
    <div class="info-box span-align">
        <span class="info-text">Wpm</span>
        <span class="info-value" id="wpm">{{wpm}}</span>
    </div>
</div>
<div class="col-xs-2">
    <div class="info-box span-align">
        <span class="info-text">Timer</span>
        <span class="info-value">{{pad(minutes)}} : {{pad(seconds)}}</span>
    </div>
</div>