<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<div class="test_wrapper">
<div class="container">
        <div class="col-xs-2 col-md-offset-1">
            <div class="info-box info-box-border span-align">
                <span class="info-text">Current Category</span>
                <app-lang-select class="info-box span-align" (newLangSelectedEvent)="langSelected($event)"></app-lang-select>
            </div>           
        </div>
        <app-user-test-compute [testmat]="testmat" [state]="state" [wpm]="wpm" [minutes]="minutes" [seconds]="seconds"></app-user-test-compute>
</div>

<div class="container input-form" >
    <div *ngIf="state.finished" class="result">
        <h1 id="result">{{result.text}}</h1>
        <img src = 'assets/images/{{result.image}}.jpg'>
    </div>
    <div class="row" *ngIf="category !== -1">
        <div class="col-xs-6">
            <div tabindex="0" id="input-area" (click)= "focusInputArea()" (keydown)="keyIntercept($event)" class="Entry-Box p-4" >
                <pre ><span class="test_site" *ngFor="let t of state.wordarray; index as i"[attr.id]="'char-'+i" >{{t}}</span></pre> 
            </div>
        </div>
        <div class="col-xs-6">
            <div tabindex="1" class="p-4">
                <pre><code [highlight]="state.wordarray.join('')"></code></pre>    
            </div>
        </div>
    </div>
    <div class="row" *ngIf="category == -1">
        <div tabindex="0" id="input-area" (click)= "focusInputArea()" (keydown)="keyIntercept($event)" class="Entry-Box p-4" >
            <pre class="quote-box"><span class="test_site" *ngFor="let t of state.wordarray; index as i"[attr.id]="'char-'+i" >{{t}}</span></pre> 
        </div>
    </div>
    <button class="btn kwik-btn" *ngIf="testmat" (click)="newTest()" >New Test</button>
    
</div>
</div>

