<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
            <div class="info-box">
                <span class="info-text">Current Category</span>
                <br>
                <app-lang-select class="info-box" (newLangSelectedEvent)="langSelected($event)"></app-lang-select>
            </div>            
        </div>
        <div *ngIf="testmat.author" class="col-2">
            <div class="info-box">
                <span class="info-text">Author</span>
                <br>
                <span class="info-value-author">{{testmat.author}}</span>
            </div>
        </div>
        <div class="col-2">
            <div class="info-box">
                <span class="info-text">Errors</span>
                <br>
                <span class="info-value">{{ state.errors }}</span>
            </div>
        </div>
        <div class="col-2">
            <div class="info-box">
                <span class="info-text">Wpm</span>
                <br>
                <span class="info-value">{{wpm}}</span>
            </div>
        </div>
        <div *ngIf="category!=-1;else altclass" class="col-2">
            <div class="info-box">
                <span class="info-text">Timer</span>
                <br>
                <span class="info-value">{{minutes}} : {{seconds}}</span>
            </div>
        </div>
        
        <ng-template #altclass>
            <div class="col-2">
                <div class="info-box">
                <span class="info-text">Timer</span>
                <br>
                <span class="info-value">00 : 00</span>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<div class="mt-2">
    <div class="container-fluid input-form">
      <div class="row">
          <div class="col-12">
            <pre tabindex="0" (click)= "focusinput" (keydown)="keyIntercept($event)" class="p-4" ><span *ngFor="let t of state.wordarray; index as i"[attr.id]="'char-'+i">{{t}}</span></pre>
            <button class="kwik-btn" *ngIf="testmat" (click)="newTest()" >New Test</button>
                <div *ngIf="state.finished">
                    <div class = "container">
                        <h1>{{result.text}}</h1>
                        <img src = 'assets/images/{{result.image}}.jpg'>
                    </div>
                </div>
          </div>
      </div>
    </div>
</div>