.forum-wrapper{
    background-color: rgba(235, 233, 233, 0.2);
    border: 1px solid #333;
    box-shadow: 0em 0 .6em #333;
    padding: 7px;
}
.forum-wrapper img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 8px;
}
.forum-wrapper button{
    float: right;
}
.comments-wrapper{
    padding: 7px;
    background-color: #fff;
}