/* 
    users enter a que
    pull the next user from the que
    if there is no current winner then make that user a current winnner
    if there is a current winner then make the user the current challenger
    

*/

/* 
    the socket alrets all user frontends in the socket room that the que has changed
    then the frontend calls the database


*/
#comp-room{
    background-color:rgb(97, 95, 114, .9);
    border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(202, 245, 12);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

