
<div class="container" id="comp-room">
    <div class="row">
        <div class="col-md-3" id="que">
            <button mat-raised-button color="primary">Join</button>
        </div>
        <div class="col-md-6" id="comp-arena">

        </div>
        <div class="col-md-3" id="chat">
            <div *ngFor="let message of messageList">
                <p>{{message}}</p>
            </div>
            <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" />
            <!-- <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="message" (ngModel)="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Join the conversation</mat-hint>
            </mat-form-field> -->
            <button (click)="sendMessage()" mat-raised-button color="primary">Send Message</button>
        </div>
    </div>
</div>