<div class="root_container" >
  <main class="main_container">

      <app-nav-bar></app-nav-bar>
        <div class="main-container_bg"></div>
        <div class="main_content">
          <router-outlet></router-outlet>
        </div>

    </main>
</div>


<!-- <mat-drawer-container [hasBackdrop]="true"> -->
  <!-- <app-nav-bar></app-nav-bar> -->
  <!-- <mat-drawer-content> -->
    <!-- <router-outlet></router-outlet>

  </mat-drawer-content> -->
<!-- </mat-drawer-container> -->

<!-- <mat-sidenav-container>
  <app-nav-bar></app-nav-bar>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->





