.mat-progress-spinner::ng-deep circle, .mat-spinner::ng-deep circle {
    stroke: #9024b4 !important;
}
.custom-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}