<!-- <app-loading *ngIf="loader == true else showApp"></app-loading> -->
<div class="custom-spinner">
  <mat-progress-spinner *ngIf="loader == true else showApp" mode="indeterminate">
  </mat-progress-spinner>
</div>
<ng-template #showApp>
  <div class="root_container">
    <main class="main_container">
      <app-nav-bar></app-nav-bar>
        <div class="main-container_bg"></div>
        <div class="main_content">
          <router-outlet></router-outlet>
        </div>
    </main>
</div>
</ng-template>