<div class="container">
    <div class="">
        <div class="info-box span-align">
            <span class="info-text">Current Category</span>
            <span class="info-value" id="category">{{category | displayCategory}}</span>
        </div>
    </div>
    <div class="">
        <div class="info-box span-align">
            <span class="info-text">Author</span>
            <span class="info-value-author" id="author">{{author}}</span>
        </div>
    </div>
    <div class="">
        <div class="info-box span-align">
            <span class="info-text">Errors</span>
            <span class="info-value" id="errors">{{ state.errors }}</span>
        </div>
    </div>
    <div class="">
        <div class="info-box span-align">
            <span class="info-text">Wpm</span>
            <span class="info-value" id="wpm">{{wpm}}</span>
        </div>
    </div>
</div>
