<div *ngIf="auth.user$ | async as user">
  <div class="container">
    <div class="col-md-3 col-md-offset-1">
      <div class="profile-picture">
        <img [src]="user.picture" alt="User's profile picture" class="rounded-circle" />
      </div>
      <div class="card_content">
        <h2 class="prof-info info_color">{{ UserInfo.name }}</h2>
        <h3 class="prof-info info_color">{{ user.email }}</h3>
        <h4 class="prof-info info_color">Rank: Mega Coder</h4>
      </div>
    </div>
    <div class="col-md-8">
      <mat-tab-group dynamicHeight class="tab-bar" animationDuration="1500ms">
        <mat-tab class="info" label="Info">
          <table class="table-borderless">
            <tbody>
              <tr class="info_color">
                <th>Reva Points</th>
                <td>{{UserInfo.revapoints}}</td>
              </tr>
              <tr class="info_color">
                <th>User Name</th>
                <td>{{user.name}}</td>
              </tr>
              <tr class="info_color">
                <th>Email Address</th>
                <td>{{user.email}}</td>
              </tr>
              <tr class="info_color">
                <th>Nick Name</th>
                <td>{{user.nickname}}</td>
              </tr>
              <tr class="info_color">
                <th>About Me</th>
                <td>I love coding and video games.
                  I will destory everyone with my ultra typing skills</td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Stats">
          <table class="table table-borderless">
            <thead>
              <tr class="info_color">
                <th>Category</th>
                <th>Words Per Minute</th>
                <th>Average Accuracy</th>
                <th>Tests Taken</th>
                <th>Test Time</th>
              </tr>
            </thead>
            <tbody>
              <tr class="info_color" *ngFor="let statMod of statOb;">
                <td>{{statMod.category | displayCategory}}</td>
                <td>{{statMod.averagewpm}}</td>
                <td>{{statMod.averageaccuracy | displayPercent}}%</td>
                <td>{{statMod.numberoftests}}</td>
                <td>{{statMod.totaltesttime | displayTime}}</td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Competitions">
          <table class="table table-borderless">
            <thead>
              <tr class="info_color">
                <th>Wins</th>
                <th>Losses</th>
                <th>W/L Ratio</th>
                <th>Longest Win Streak</th>

              </tr>
            </thead>
            <tbody>
              <tr class="info_color">
                <td>{{overallStatOb?.wins}}</td>
                <td>{{overallStatOb?.losses}}</td>
                <td>{{overallStatOb?.wlRatio}}</td>
                <td>{{overallStatOb?.winStreak}}</td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Progress">
          <ng-template matTabContent>
            <app-progress-graph></app-progress-graph>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>